.advantages {
  min-width: 320px;
  background-color: #f2f2f2;
  font-family: $opensans;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.advantages__item {
  width: 330px;
  padding-top: 39px;
  padding-left: 32px;
  padding-right: 32px;
}
.advantages__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.advantages__img {
  display: block;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
}
.advantages__title {
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}
.advantages__description {
  font-weight: lighter;
  font-size: 16px;
  line-height: 24px;
  color: $dark-blue;
  padding: 0;
  margin: 0;
  padding-top: 18px;
}
.advantages__wrapper {
  padding-bottom: 45px;
}
@media (min-width: $tablet-width) {
  .advantages {
    min-width: 660px;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .advantages__list {
    text-align: left;
    padding-bottom: 47px;
  }
}
@media (min-width: $desktop-width) {
  .advantages {
    min-width: 1200px;
    max-width: 1200px;
    flex-direction: column-reverse;
  }
  .advantages__list {
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }
}
