.button {
  border-width: 3px;
  border-style: solid;
  border-radius: 30px;
  width: 280px;
  height: 55px;
  background-color: transparent;
  cursor: pointer;
}
.button--square {
  color: #ffffff;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid #2aab6d;
  background-color: #2aab6d;
  height: 63px;
  width: 280px;
}
.button--active {
  border-color: #d22856;
  font-family: $opensans;
  color: #d22856;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  margin-bottom: 12px;
}
.button--disable {
  border-color: #dddfe0;
  font-family: $opensans;
  color: #dddfe0;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
}
a.button {
  margin-top: 28px;
  padding-top: 11px;
  padding-bottom: 17px;
  margin: 0 auto;
}
@media (min-width: $tablet-width) {
  a.button {
    margin-top: 31px;
  }
}
@media (min-width: $desktop-width) {
  a.button {
    margin-top: 54px;
  }
  .button--active {
    width: 183px;
    margin-right: 44px;
  }
  .button--disable {
    width: 183px;
  }
}
