.competition-form {
  min-width: 320px;
  font-family: $opensans;
  text-align: center;
}
.competition-form__form {
  display: flex;
  flex-direction: column;
}
.competition-form__fieldset:nth-child(odd) {
  background-color: #ffffff;
  border: 0 #ffffff;
}
.competition-form__fieldset:nth-child(even) {
  background-color: #f2f2f2;
  border: 0 #f2f2f2;
}
.competition-form__info {
  font-size: 14px;
  line-height: 30px;
  color: #d22856;
  text-transform: uppercase;
  padding-left: 43px;
  text-align: left;
}
.competition-form__title {
  font-size: 14px;
  line-height: 18px;
  font-weight: lighter;
  color: #d22856;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 40px;
  padding-bottom: 40px;
}
.competition-form__checkbox-item {
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  padding-bottom: 63px;
  text-align: left;
}
.competition-form__app {
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  padding-bottom: 63px;
  text-align: left;
}
.competition-form__call-to-action {
  font-size: 14px;
  line-height: 18px;
  font-weight: lighter;
  color: #d22856;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 40px;
  padding-bottom: 17px;
}
.competition-form__submit {
  margin-top: 48px;
  text-align: center;
}
.competition-form__prompt {
  background-color: #ffffff;
  font-size: 14px;
  line-height: 30px;
  color: $dark-blue;
  text-transform: uppercase;
  text-align: center;
  padding-top: 43px;
  padding-bottom: 21px;
}
.competition-form__prompt span {
  color: #d22856;
}
.competition-form__wrapper {
  display: flex;
  flex-direction: column;
}
@media (min-width: $tablet-width) {
  .competition-form {
    min-width: 660px;
  }
  .competition-form__fieldset:nth-child(odd) {
    background-color: #ffffff;
  }
  .competition-form__fieldset:nth-child(even) {
    background-color: #ffffff;
  }
  .competition-form__fieldset:first-child {
    order: 1;
  }
  .competition-form__fieldset:nth-child(2) {
    order: 4;
  }
  .competition-form__fieldset:nth-child(3) {
    order: 3;
  }
  .competition-form__fieldset:nth-child(4) {
    order: 2;
  }
  .competition-form__fieldset:nth-child(5) {
    order: 5;
  }
  .competition-form__wrapper {
    order: 6;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: $desktop-width) {
  .competition-form {
    min-width: 1200px;
  }
  .competition-form__form {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .competition-form__fieldset:nth-child(3),
  .competition-form__fieldset:nth-child(2),
  .competition-form__fieldset:nth-child(5) {
    width: 938px;
    flex-grow: 1;
  }
  .competition-form__fieldset:first-child,
  .competition-form__fieldset:nth-child(4) {
    width: 440px;
    flex-grow: 1;
  }
  .competition-form__wrapper {
    flex-grow: 1;
  }
}
