.competition-form {
  min-width: 320px;
  font-family: $opensans;
  text-align: center;
  margin: 0 auto;
}
.competition-form__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
.competition-form__fieldset {
  padding-bottom: 43px;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
}
.competition-form__fieldset:nth-child(odd) {
  background-color: #ffffff;
  border: 0 #ffffff;
}
.competition-form__fieldset:nth-child(even) {
  background-color: #f2f2f2;
  border: 0 #f2f2f2;
}
.competition-form__info {
  font-size: 14px;
  line-height: 30px;
  color: #d22856;
  text-transform: uppercase;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.competition-form__info input {
  margin: 0;
  padding: 0;
  width: 277px;
  height: 60px;
  border: 2px solid #e5e5e5;
}
.competition-form__comments textarea {
  width: 280px;
  height: 200px;
  border: 2px solid #e5e5e5;
}
.competition-form__info input::-webkit-input-placeholder,
.competition-form__comments textarea::-webkit-input-placeholder {
    color: #283645;
    font-family: $opensans;
    font-size: 18px;
    padding-left: 22px;
    padding-top: 22px;
   }
.competition-form__info input::-moz-placeholder,
.competition-form__comments textarea::-moz-placeholder {
    color: #283645;
    font-family: $opensans;
    font-size: 18px;
    padding-left: 22px;
    padding-top: 22px;
   }
.competition-form__info label {
  padding: 0;
  margin: 0;
  padding-left: 22px;
}
.competition-form__title {
  font-size: 14px;
  font-weight: lighter;
  color: #d22856;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 25px;
}
.competition-form__title--contacts {
  display: none;
}
.competition-form__comments {
  margin-top: -8px;
}
.competition-form__checkbox-item {
  font-size: 18px;
  color: #283645;
  text-align: left;
  padding-bottom: 44px;
  padding-left: 22px;
}
.competition-form__checkbox-item:last-child {
  padding-bottom: 0;
}
.competition-form__app {
  font-size: 18px;
  color: #283645;
  padding-bottom: 36px;
  padding-left: 22px;
  text-align: left;
}
.competition-form__app:last-child {
  padding-bottom: 0;
}
.competition-form__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.competition-form__prompt {
  background-color: #ffffff;
  font-size: 14px;
  color: $dark-blue;
  text-transform: uppercase;
  padding-top: 43px;
  padding-bottom: 21px;
}
.competition-form__prompt span {
  color: #d22856;
}
@media (min-width: $tablet-width) {
  .competition-form {
    min-width: 660px;
  }
  .competition-form__info {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 54px;
  }
  .competition-form__title--contacts {
    display: block;
  }
  .competition-form__info input {
    width: 523px;
  }
  .competition-form__info--name input {
    width: 564px;
  }
  .competition-form__info label {
    padding-left: 0;
  }
  .competition-form__fieldset {
    padding: 0;
    margin-left: 20px;
    margin-right: 20px;
  }
  .competition-form__fieldset:nth-child(odd) {
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
    margin-top: 57px;
  }
  .competition-form__fieldset:nth-child(even) {
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
    margin-top: 57px;
  }
  .competition-form__fieldset:first-child {
    order: 1;
    border: 0;
  }
  .competition-form__fieldset:nth-child(2) {
    order: 4;
    padding-bottom: 35px;
  }
  .competition-form__fieldset:nth-child(2) .competition-form__title {
    width: 436px;
  }
  .competition-form__fieldset:nth-child(3) {
    order: 3;
  }
  .competition-form__fieldset:nth-child(3) .competition-form__title,
  .competition-form__fieldset:nth-child(5) .competition-form__title {
    width: 260px;
  }
  .competition-form__fieldset:nth-child(4) {
    order: 2;
    padding-bottom: 55px;
  }
  .competition-form__fieldset:nth-child(4) .competition-form__title {
    width: 368px;
  }
  .competition-form__fieldset:nth-child(5) {
    order: 5;
  }
  .competition-form__title {
    display: block;
    padding: 0;
    margin-top: -10px;
    background-color: #ffffff;
  }
  .competition-form__wrapper {
    order: 6;
    flex-direction: row;
    width: 635px;
    justify-content: space-between;
    align-items: baseline;
  }
  .competition-form__comments {
    padding-top: 38px;
    padding-bottom: 25px;
  }
  .competition-form__comments textarea {
    width: 497px;
    height: 190px;
  }
  .competition-form__checkbox-item {
    padding-top: 42px;
    padding-bottom: 0;
  }
  .competition-form__app {
    padding-top: 37px;
    padding-bottom: 0;
  }
  .competition-form__info--contact {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    padding-left: 50px;
    width: 437px;
  }
  .competition-form__info--contact label {
    padding-left: 22px;
  }
  .competition-form__prompt {
    padding-top: 94px;
    padding-left: 135px;
  }
}
@media (min-width: $desktop-width) {
  .competition-form {
    min-width: 1200px;
    max-width: 1200px;
  }
  .competition-form__form {
    width: 938px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .competition-form__fieldset:nth-child(3),
  .competition-form__fieldset:nth-child(2),
  .competition-form__fieldset:nth-child(5) {
    width: 938px;
    flex-grow: 1;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 60px;
  }
  .competition-form__fieldset:first-child,
  .competition-form__fieldset:nth-child(4) {
    width: 434px;
    margin: 0;
    padding: 0;
    margin-bottom: 60px;
  }
  .competition-form__fieldset:nth-child(2) {
    height: 230px;
  }
  .competition-form__wrapper {
    flex-grow: 1;
    margin: 0 auto;
    padding: 0;
  }
  .competition-form__info input {
    width: 339px;
  }
  .competition-form__info--name input {
    width: 378px;
  }
  .competition-form__comments textarea {
    width: 817px;
    height: 125px;
  }
  .competition-form__app {
  }
  .competition-form__app:last-child {
  }
  .competition-form__info {
    padding: 0;
    padding-top: 53px;
  }
  .competition-form__contacts {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .competition-form__info--contact {
    padding-left: 60px;
    padding-top: 35px;
  }
  .competition-form__info--contact:last-child {
    padding-right: 60px;
  }
  .competition-form__info--contact input {
    width: 313px;
  }
  .competition-form__checkbox-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .competition-form__checkbox-item {
    width: 310px;
  }
}
