.competition__title {
  min-width: 320px;
  background-image: url("../img/inner-cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: $dark-blue;
  color: #ffffff;
  font-family: $opensans;
  font-size: 24px;
  font-weight: lighter;
  margin: 0;
  padding: 0;
  padding-top: 99px;
  padding-bottom: 55px;
  text-align: center;
}
p.competition__description {
  background-color: #ffffff;
  font-family: $opensans;
  color: $dark-blue;
  font-size: 14px;
  line-height: 30px;
  font-weight: lighter;
  margin: 0;
  padding: 0;
  padding-top: 52px;
  padding-bottom: 49px;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
}
.competition__full-description {
  display: none;
  padding: 0;
  margin: 0;
}
@media (min-width: $tablet-width) {
  .competition__title {
    min-width: 660px;
    padding-left: 90px;
    padding-right: 90px;
  }
  .competition__description {
    display: none;
  }
  p.competition__full-description {
    display: block;
    background-color: #ffffff;
    font-family: $opensans;
    color: $dark-blue;
    font-size: 14px;
    line-height: 30px;
    font-weight: lighter;
    padding-top: 97px;
    padding-bottom: 76px;
    padding-left: 86px;
    padding-right: 86px;
    text-align: center;
  }
}
@media (min-width: $desktop-width) {
  .competition__title {
    min-width: 1200px;
    padding-left: 225px;
    padding-right: 225px;
  }
  p.competition__full-description {
    padding-left: 220px;
    padding-right: 220px;
  }
}
