.contacts {
  min-width: 320px;
  background-color: #ffffff;
  font-family: $opensans;
  margin: 0 auto;
}
.contacts__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contacts__call-to-action {
  color: $dark-blue;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: lighter;
  margin-top: 45px;
  margin-bottom: 38px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
}
.contacts__info {
  color: $dark-blue;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 23px;
  text-align: center;
}
a.contacts__info,
span.contacts__info {
  color: #d22856;
  font-size: 24px;
  font-weight: lighter;
}
@media (min-width: $tablet-width) {
  .contacts {
    min-width: 660px;
  }
  .contacts__info {
    display: block;
    width: 330px;
    text-align: center;
  }
  .contacts__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: $desktop-width) {
  .contacts {
    min-width: 1200px;
    max-width: 1200px;
  }
  .contacts__info {
    width: 400px;
  }
  .contacts__info:first-child {
    order: 1;
    padding-right: 18px;
  }
  .contacts__info:last-child {
    order: 2;
    text-align: center;
  }
  .contacts__info:nth-child(2) {
    order: 3;
    text-align: center;
  }
}
