.cover {
  min-width: 100%;
  min-height: 462px;
  background-image: url("../img/main-cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: $dark-blue;
}
