.download {
  min-width: 320px;
  background-color: $dark-blue;
  font-family: $opensans;
  color: #ffffff;
  font-weight: lighter;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.download__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.download__tagline {
  padding: 0;
  margin: 0;
  display: none;
  font-size: 40px;
}
.download__link {
  padding: 0;
  margin: 0;
  border-color: #ffffff;
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
}
.download__text {
  font-size: 14px;
  line-height: 24px;
  padding-top: 26px;
  padding-bottom: 34px;
  padding-left: 45px;
  padding-right: 45px;
}
.download__cover {
  width: 320px;
  height: 462px;
  background-image: url("../img/main-cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: $dark-blue;
  position: absolute;
  top: 0;
}
@media (min-width: $tablet-width) {
  .download {
    min-width: 660px;
    flex-direction: row-reverse;
  }
  .download__tagline {
    display: block;
    padding-top: 97px;
  }
  .download__text {
    padding-top: 38px;
    padding-bottom: 111px;
  }
  .download__wrapper {
    z-index: 2;
  }
  .download__cover {
    width: 660px;
    height: 729px;
  }
}
@media (min-width: $desktop-width) {
  .download {
    min-width: 1200px;
    max-width: 1200px;
  }
  .download__tagline {
    padding-top: 224px;
  }
  .download__cover {
    width: 1200px;
    height: 853px;
  }
}
