.page-footer {
  min-width: 100%;
  background-color: #ffffff;
  text-align: center;
  font-family: $opensans;
  padding-bottom: 51px;
}
.page-footer__social {
  padding-top: 40px;
  padding-bottom: 47px;
}
.copyright__text {
  color: #283645;
  font-size: 14px;
  line-height: 18px;
  padding-right: 26px;
}
