.page-header {
  min-width: 320px;
  background-color: $dark-blue;
  display: flex;
  flex-direction: column;
}
.page-header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.page-header__logo {
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 20px;
}
.page-header__toggle {
  padding-top: 21px;
  padding-bottom: 21px;
  padding-right: 20px;
}
@media (min-width: $tablet-width) {
  .page-header {
    min-width: 660px;
  }
  .page-header__logo {
    padding-top: 27px;
    padding-bottom: 42px;
  }
  .page-header__toggle {
    padding-top: 45px;
    padding-bottom: 41px;
  }
}
@media (min-width: $desktop-width) {
  .page-header {
    min-width: 1200px;
    display: flex;
    flex-direction: row;
  }
  .page-header__logo {
    padding-left: 130px;
  }
  .page-header__toggle {
    display: none;
  }
}
