.page-header {
  min-width: 100%;
  background-color: $dark-blue;
  font-family: $opensans;
  font-weight: bold;
  color: #ffffff;
}
.page-header__logo {
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 20px;
}
