.main-navigation {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.main-navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
@media (min-width: $tablet-width) {
  .main-navigation {
    min-width: 660px;
  }
}
@media (min-width: $desktop-width) {
  .main-navigation {
    width: 790px;
  }
  .main-navigation__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}
