.photo-post {
  min-width: 320px;
  background-color: #f2f2f2;
  font-family: $opensans;
}
.photo-post__call-to-action {
  background-color: #ffffff;
  font-size: 14px;
  line-height: 30px;
  font-weight: lighter;
  color: #283645;
  margin: 0;
  padding: 0;
  padding-top: 27px;
  padding-bottom: 49px;
  text-align: center;
}
.photo-post__wrapper {
  padding-top: 20px;
  padding-bottom: 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.photo-post__photo {
  width: 280px;
}
.photo-post__button-wrapper {
  background-color: #f2f2f2;
  border-top: 1px solid #dddfe0;
  padding-top: 38px;
  padding-bottom: 29px;
}
@media (min-width: $tablet-width) {
  .photo-post {
    min-width: 660px;
  }
  .photo-post__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
  .photo-post__photo {
    width: 300px;
  }
  .photo-post__button-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .photo-post__call-to-action {
    font-size: 18px;
  }
}
@media (min-width: $desktop-width) {
  .photo-post {
    min-width: 1200px;
  }
  .photo-post__button-wrapper {
    flex-direction: row;
  }
}
