.photo-catalog {
  width: 320px;
  font-family: $opensans;
  margin: 0 auto;
}
.photo-catalog__intro {
  background-color: #ffffff;
  color: #283645;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  padding-top: 52px;
  padding-bottom:57px;
  padding-left: 40px;
  padding-right: 40px;
}
.photo-catalog__intro br {
  display: none;
}
.photo-catalog__item {
  width: 280px;
  background-color: #ffffff;
  margin: 0 auto;
}
.photo-catalog__quote {
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  padding-bottom: 26px;
  padding-top: 22px;
  padding-left: 18px;
  padding-right: 22px;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 24px;
  color: $dark-blue;
  display: flex;
  flex-direction: column;
}
.photo-catalog__wrapper {
  min-width: 280px;
  min-height: 180px;
}
.photo-catalog__author {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-weight: bold;
  padding-right: 4px;
  padding-bottom: 9px;
}
.photo-catalog__time {
  display: inline-block;
  font-weight: lighter;
  text-transform: uppercase;
}
.photo-catalog__text {
  font-weight: lighter;
  margin: 0;
  padding: 0;
  padding-bottom: 17px;
}
.photo-catalog__likes-number {
  color: #d22856;
  font-weight: lighter;
  text-transform: uppercase;
}
.photo-catalog__info {
  display: flex;
  flex-direction: row;
}
@media (min-width: $tablet-width) {
  .photo-catalog {
    width: 660px;
  }
  .photo-catalog__item {
    width: 300px;
    margin-left: 20px;
  }
  .photo-catalog__quote {
    height: 155px;
  }
  .photo-catalog__text {
    height: 55px;
  }
  .photo-catalog__main-quote {
    width: 620px;
    height: 121px;
    margin: 0 auto;
    justify-content: space-between;
    flex-flow: row wrap;
  }
  .photo-catalog__likes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .photo-catalog__like {
    order: 2;
  }
  .photo-catalog__likes-number {
    order: 1;
  }
  .photo-catalog__intro {
    font-size: 18px;
    padding-left: 100px;
    padding-right: 100px;
  }
  .photo-catalog__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .photo-catalog__main-quote .photo-catalog__text {
    padding-bottom: 27px;
  }
  .photo-catalog__info:first-child {
    order: 1;
  }
  .photo-catalog__info:nth-child(2) {
    order: 3;
  }
  .photo-catalog__info:nth-child(3) {
    order: 2;
  }
}
@media (min-width: $desktop-width) {
  .photo-catalog {
    width: 1200px;
    max-width: 1200px;
    margin-left: 130px;
  }
  .photo-catalog__main-quote {
    width: 940px;
  }
  .photo-catalog__intro {
    padding-left: 100px;
    padding-right: 315px;
  }
  .photo-catalog__intro br {
    display: block;
  }
  .photo-catalog__item {
    margin-right: 0;
  }
  .photo-catalog__text {
    height: 60px;
  }
}
