.photo-catalog {
  min-width: 320px;
  font-family: $opensans;
  margin: 0 auto;
}
.photo-catalog__title {
  min-height: 237px;
  background-image: url("../img/inner-cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: $dark-blue;
  margin: 0;
  padding: 0;
  padding-top: 98px;
  padding-bottom: 83px;
  font-size: 24px;
  font-weight: lighter;
  color: #ffffff;
  text-align: center;
}
.photo-catalog__intro {
  background-color: #ffffff;
  color: #283645;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  padding-top: 52px;
  padding-bottom:57px;
}
.photo-catalog__item {
  width: 280px;
  background-color: #ffffff;
}
.photo-catalog__quote {
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  padding-bottom: 26px;
  padding-top: 22px;
  padding-left: 18px;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 24px;
  color: $dark-blue;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.photo-catalog__wrapper {
  min-width: 280px;
  min-height: 180px;
}
.photo-catalog__author {
  margin: 0;
  padding: 0;
  font-weight: bold;
  padding-bottom: 9px;
}
.photo-catalog__time {
  font-weight: lighter;
  text-transform: uppercase;
}
.photo-catalog__text {
  font-weight: lighter;
  margin: 0;
  padding: 0;
  padding-bottom: 19px;
}
.photo-catalog__likes-number {
  color: #d22856;
  font-weight: lighter;
  text-transform: uppercase;
}
.photo-catalog__info-wrapper {
  display: flex;
  flex-direction: column;
}
.photo-catalog__info:first-child {
  order: 1;
}
.photo-catalog__info:nth-child(2) {
  order: 3;
}
.photo-catalog__info:nth-child(3) {
  order: 2;
}
@media (min-width: $tablet-width) {
  .photo-catalog {
    min-width: 660px;
  }
  .photo-catalog__item {
    width: 300px;
  }
  .photo-catalog__info-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
  .photo-catalog__main-quote {
    width: 620px;
  }
  .photo-catalog__author {
    display: inline-block;
  }
  .photo-catalog__time {
    display: inline-block;
  }
  .photo-catalog__like {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    order: 2;
  }
  .photo-catalog__likes-number {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    order: 1;
  }
  .photo-catalog__intro {
    font-size: 18px;
  }
  .photo-catalog__title {
    font-size: 50px;
  }
  .photo-catalog__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .photo-catalog__info:nth-child(2) {
    order: 2;
  }
  .photo-catalog__info:nth-child(3) {
    order: 3;
  }
}
@media (min-width: $desktop-width) {
  .photo-catalog {
    min-width: 1200px;
    max-width: 1200px;
  }
  .photo-catalog__main-quote {
    width: 940px;
  }
}
