.reviews {
  min-width: 318px;
  background-color: #ffffff;
  font-family: $opensans;
  padding-top: 48px;
  padding-left: 21px;
  padding-right: 21px;
  padding-bottom: 42px;
  text-align: center;
}
.reviews__author {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  padding: 0;
  margin: 0;
}
.reviews__text {
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  color: $dark-blue;
  padding-bottom: 38px;
}
