.tagline__intro {
  min-width: 100%;
  background-color: #ffffff;
  font-family: $opensans;
  font-size: 24px;
  color: $dark-blue;
  text-align: center;
  margin-bottom: 32px;
}
.tagline__intro--question {
  margin-top: 43px;
}
